@use 'src/styles/index' as *;

:host {
  background-color: #0f766e;
  color: #cbd5e0;
  padding: 2rem 1rem;
  display: block; /* Ensures correct layout */
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

a {
  color: #cbd5e0;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #81e6d9;
}
