<mat-toolbar *ngIf="!isStayTuned">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="header__icon"
    aria-label="icon-button with menu icon"
  >
    <mat-icon [color]="'primary'">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="" id="header_menu_button_home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button
      mat-menu-item
      routerLink="/blog/home"
      id="header_menu_button_portfolio"
    >
      <mat-icon>pages</mat-icon>
      <span>Blog Home Coming Soon!</span>
    </button>
    <button
      mat-menu-item
      routerLink="/portfolio"
      id="header_menu_button_portfolio"
    >
      <mat-icon>code_blocks</mat-icon>
      <span>Portfolio Home Coming Soon!</span>
    </button>
  </mat-menu>
  <span class="header__title">Lets Explore</span>
  <span class="header__spacer"></span>
  <button
    *ngIf="isBlogPage"
    mat-icon-button
    class="header__icon header__favorite-icon"
    aria-label="icon-button with heart icon to favorite"
  >
    <mat-icon [color]="'primary'">favorite</mat-icon>
  </button>
  <button
    *ngIf="isBlogPage"
    mat-icon-button
    class="header__icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon [color]="'primary'">share</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
