@use 'src/styles/index' as *;

/* copied from blog-post.component.css */
:host { display: block; }

.prose img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
